@font-face {
  font-family: "Heebo-Bold";
  font-weight: 700;
  font-style: normal;
  src: local("Heebo-Bold"), local("Heebo-Bold"), url("../fonts/Heebo-Bold.woff2") format("woff2"), url("../fonts/Heebo-Bold.woff") format("woff"); }

@font-face {
  font-family: "Heebo-Regular";
  font-weight: 400;
  font-style: normal;
  src: local("Heebo-Regular"), local("Heebo-Regular"), url("../fonts/Heebo-Regular.woff2") format("woff2"), url("../fonts/Heebo-Regular.woff") format("woff"); }

@font-face {
  font-family: "Poppins-Bold";
  font-weight: 700;
  font-style: normal;
  src: local("Poppins-Bold"), local("Poppins-Bold"), url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff"); }

@font-face {
  font-family: "Poppins-Regular";
  font-weight: 400;
  font-style: normal;
  src: local("Poppins-Regular"), local("Poppins-Regular"), url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff"); }

body {
  font-family: 'Poppins-Regular';
  font-weight: 400;
  margin: 0;
  position: relative; }

header, main {
  padding: 1rem; }

h2 {
  font-weight: 500px;
  font-size: 24px;
  line-height: 36px;
  color: #333333; }

.menu_checkbox {
  display: none; }

.container {
  margin: auto;
  max-width: 100%; }

img {
  border-radius: 24px;
  width: 100%; }

.website__container, .purpose__container, .offer__container, .designs--heading {
  margin-left: 40px; }

.heading {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-top: 0;
  margin-top: -1rem; }

.heading__text {
  font-family: 'Heebo-bold';
  font-weight: 800;
  font-size: 36px;
  line-height: 53px; }

.heading__label {
  color: transparent;
  background-image: url("../icons/menu.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  cursor: pointer;
  background-size: 55%; }

.nav--menu {
  position: absolute;
  width: 75%;
  height: 494px;
  background-color: black;
  left: -100%;
  padding-top: 4rem; }

.nav--menu_list {
  list-style: none;
  padding: 0; }

input[type="checkbox"]:checked ~ .heading .nav--menu {
  left: 0; }

body:focus ~ .nav--menu {
  left: -100%; }

.nav--menu_list {
  text-align: center; }

.nav--menu_list-item {
  margin-top: 2rem; }

.nav--menu_list-anchor {
  text-decoration: none;
  color: #ffffff; }

.website__cue {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #2D9CDB; }

.website__pic {
  height: calc(100% * 145 / 348); }

.purpose__desc {
  font-size: 12px;
  line-height: 18px;
  color: #4F4F4F; }

.purpose__form--text {
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  color: #828282;
  margin: 0; }

.purpose__form--label {
  position: relative;
  height: 47px;
  background: #F2F2F2;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  padding-left: 21px;
  padding-right: 4px; }

.purpose__form--input {
  background: #F2F2F2;
  padding-right: 0;
  border: none; }

.purpose__form--btn {
  width: 71px;
  height: 39px;
  background: #2D9CDB;
  border-radius: 12px;
  border: none;
  align-self: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #F2F2F2; }

.offer {
  margin-top: 102px; }

.offer__card {
  margin-top: 92px; }

.offer__card--active {
  box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
  border-radius: 24px;
  padding: 1rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-left: -43px; }

.offer__card--heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #333333; }

.offer__desc {
  font-size: 16px;
  line-height: 24px;
  color: #4F4F4F; }

.offer__card--btn {
  border: none;
  background: #E0E0E0;
  border-radius: 12px;
  padding: 9px; }

.offer__btn--active {
  background: #2D9CDB;
  color: #fff; }

.offer__card--img {
  width: 30px;
  height: 30px;
  border-radius: 16px;
  padding: 10px; }

.design {
  background: #2D9CDB; }

.frontend {
  background: #27AE60; }

.backend {
  background: #EB5757; }

.offer__card_.offer__desc {
  font-size: 16px;
  line-height: 24px;
  color: #4F4F4F; }

.designs {
  margin-top: 146px; }

.design--card {
  margin-top: 36px; }

.design__desc {
  margin: 0; }

.design__type {
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #828282; }

.design__desc {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #333333; }

.more--link {
  text-decoration: none;
  color: #ffffff;
  color: #2D9CDB; }

.meeting, .meeting--section, .customer {
  margin-top: 100px;
  margin-bottom: 100px; }

.team {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  grid-template-areas: 'person3 person1' 'person3 person2'; }

.person1 {
  grid-area: person1; }

.person2 {
  grid-area: person2; }

.person3 {
  grid-area: person3;
  align-self: center; }

.customer--header {
  font-size: 24px;
  line-height: 36px;
  color: #333333; }

.profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  gap: 0; }

.profile--photo {
  width: 60px;
  border-radius: 12px; }

.profile--name {
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  color: #333333; }

.meeting--the_team {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #EB5757; }

.footer {
  background: #100E1D;
  padding: 42px; }

.nav--list {
  list-style: none;
  padding: 0; }

.nav--list-item {
  margin: 1rem; }

.footer__social-media {
  columns: 1; }

.social-media--heading {
  color: #ffffff;
  padding-left: 1rem; }

.social-media--list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  justify-content: start;
  margin-left: -3.5rem;
  margin-bottom: 65px; }

.social-media--item {
  margin-right: 1rem; }

.list-anchor {
  text-decoration: none;
  color: #ffffff;
  color: transparent;
  padding: 7px;
  background-position: unset; }

.instagram {
  background-image: url("./../icons/instagram.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-position: 100%; }

.in {
  background-image: url("./../icons/linkedin.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat; }

.twitter {
  background-image: url("./../icons/twitter.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-position: 0; }

.purpose__form--label {
  margin-bottom: 133px; }

.challenge {
  text-align: center;
  margin: 0px;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #A9A9A9; }
