@import './variables/font-face';

body {
    font-family: 'Poppins-Regular';
    font-weight: 400;
    margin: 0;
}

header, main {
    padding: 1rem;
}

h2 {
    font-weight: 500px;
    font-size: 24px;
    line-height: 36px;
    color: #333333;
}

.menu_checkbox {
    display: none;
}

.container {
    margin: auto;
    max-width: 100%
}

img {
    border-radius: 24px;
    width: 100%;
}