@import './variables/font-face';
@import './variables/variables';
@import './variables/mixin';

.heading {
    @include displayFlex;  
    position: $relativePosition;
    padding-top: 0;
    margin-top: -1rem;
}

.heading__text {
    font-family: 'Heebo-bold';
    font-weight: 800;    
    font-size: 36px;
    line-height: 53px;
}

.heading__label {
    color: transparent;
    @include background('../icons/menu.svg');
    cursor: pointer;
    background-size: 55%;
}

.nav--menu {
    position: $absolutePosition;
    width: 75%;
    height: 494px;
    background-color: black;
    left: -100%;
    padding-top: 4rem;
}

.nav--menu_list {
    @include listStyle;
}

input[type="checkbox"]:checked ~ .heading .nav--menu {
    left: 0;
}

body:focus ~ .nav--menu {
   left: -100% 
}

.nav--menu_list {
    text-align: center;
}

.nav--menu_list-item {
    margin-top: 2rem;
}

.nav--menu_list-anchor {
    @include anchorText;   
}

@media(min-width: 857px) {
    .heading {
        margin: 0;
    }

    .heading__text {
        margin: 0;
    }

    .nav--menu {
        position: unset;
        background-color: #ffffff;
        padding-top: 0;
        height: 0;
    }

    .nav--menu_list {
        @include displayFlex;
        justify-content: flex-end;
        margin-bottom: 0;
        margin-top: 9px;
        // padding-left: 40%;
    }

    .nav--menu_list-anchor {
        color: #333333;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
    }

    .heading__label {
        display: none;
    }

    .nav--menu_list-item {
        margin-top: 0;
        margin-right: 3rem;
    }

    .nav--menu_list-item:last-of-type {
        margin-right: 0;
    }
    
}