$fonts: (
   (
        family: 'Heebo-Bold',
        local: 'Heebo-Bold',
        filename: 'Heebo-Bold',
        weight: 700,
        style: normal,
    ),
    (
        family: 'Heebo-Regular',
        local: 'Heebo-Regular',
        filename: 'Heebo-Regular',
        weight: 400,
        style: normal,
    ),
    (
        family: 'Poppins-Bold',
        local: 'Poppins-Bold',
        filename: 'Poppins-Bold',
        weight: 700,
        style: normal,
    ),
    (
        family: 'Poppins-Regular',
        local: 'Poppins-Regular',
        filename: 'Poppins-Regular',
        weight: 400,
        style: normal,
    )
)